doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= NextBART
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  body
    //- create container for React components
    div#container.container!= content
    //- call necessary scripts
    script(src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js")
    script(src="//fb.me/react-with-addons-0.14.3.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")
    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="/javascripts/xml2jxon.js")
    script(src="/javascripts/site.js", type="text/babel")
